$primaryColor:#292E49;
$secondaryColor: #B91D73;
$primaryTextColor: #f4f4f5; 
$secondaryTextColor: #8d8d96;
$mobileBreakpoints: 489px; 
$tabletBreakpoints: 720px; 
$desktopBreakpoints: 1600px; 
$headingFontSize: 48px; 
$spaceY: 4rem 4rem 0 0;
